* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(to right bottom, #e9d5ff, #d8b4fe, #a5b4fc);
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  gap: 1.25rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 800px;
  max-height: 100%;
}

.error-message {
  position: absolute;
  height: 50dvh;
  width: 100%;
  font-size: clamp(1rem, 4vw, 2.5rem);
  justify-content: center;
  align-items: center;
  display: none;
  background-color: #ff1f31;
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: 0.5rem;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  color: #8b5cf6;
}

.subtitle {
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  font-weight: 400;
  color: #4a4a4a;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.name-form {
  margin-bottom: 1.25rem;
}

#playerName {
  border: 2px solid #c6c7c7;
  background-color: #f3f4f6;
  border-radius: 15px;
  padding: 1rem;
  color: #4a4a4a;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  text-align: center;
}

#playerName:hover {
  color: #4a4a4a;
  border: 2px solid #8b5cf6;
}

#playerName:focus {
  outline: none;
  border: 2px solid #8b5cf6;
}

main {
  width: 100%;
  display: flex;
}

.quiz {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.quiz-info {
  display: flex;
  justify-content: space-between;
  background: #f3e8ff;
  border-radius: 15px;
  padding: 0.8rem 1.2rem;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  width: 100%;
  font-weight: 500;
  color: #4a4a4a;
}

.quiz-info div {
  width: 100%;
}

.quiz-info div:nth-child(1) {
  display: flex;
  align-items: center;
}

.quiz-info div:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.quiz-info i {
  color: #8b5cf6;
  margin-right: 0.25rem;
}

.question {
  background-color: #8b5cf6;
  border-radius: 15px;
  padding: 1rem;
  font-size: clamp(1rem, 3vw, 1.25rem);
  width: 100%;
  word-wrap: break-word;
}

.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
}

.answer {
  border: 2px solid #f3f4f6;
  background-color: #f3f4f6;
  border-radius: 15px;
  padding: 1rem;
  color: #4a4a4a;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
}

.answer:hover {
  background: #f3e8ff;
  color: #4a4a4a;
  border: 2px solid #8b5cf6;
  transform: translateY(-3px);
}

.answer .fa-circle {
  color: #8b5cf6;
}

.answer.correct {
  background-color: #bbf7d0;
  border: 2px solid #22c55e;
  color: #4a4a4a;
}

.answer.wrong {
  background-color: #fecaca;
  border: 2px solid #ef4444;
  color: #4a4a4a;
}

.answer i {
  margin-right: 0.5rem;
}

.answer .fa-circle-check {
  color: #22c55e;
}

.answer .fa-circle-xmark {
  color: #ef4444;
}

.feedback-message {
  display: none;
  border: 2px solid rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  padding: 0.8rem 1.2rem;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  width: 100%;
  font-weight: 500;
}
.feedback-message.correct {
  display: block;
  background-color: #bbf7d0;
  border: 2px solid #22c55e;
  color: #4a4a4a;
}
.feedback-message.wrong {
  display: block;
  background-color: #fecaca;
  border: 2px solid #ef4444;
  color: #4a4a4a;
}

.next-question-btn,
.start-quiz-btn {
  width: fit-content;
  background-color: rgba(139, 92, 246, 1);
  border-radius: 15px;
  padding: 1rem 2.5rem;
  color: white;
  font-size: clamp(1rem, 2vw, 1.1rem);
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  border: none;
}

.next-question-btn {
  display: none;
}

.next-question-btn.active {
  display: flex;
}

.next-question-btn:hover,
.start-quiz-btn:hover {
  transform: translateY(-3px);
}

.result-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  
}

.result-container h3,
.result-container p {
  line-height: 1.3;
}

.result-container h3 {
  color: #8b5cf6;
}

.result {
  font-size: clamp(1.5rem, 5vw, 3rem);
}

.score,
.time {
  color: #4a4a4a;
}

.leaderboard-container {
  display: block;
  justify-content: center;
  height: 300px;
  width: 100%;
  overflow: scroll;
  background-color: #8b5cf6;
  border-radius: 20px;
}

#leaderboardList {
  list-style-type: none;
  padding: 0 0.75rem 0.75rem 0.75rem;
  margin: 0;
}

.leaderboard-container h3 {
  color: #FFFFFF;
  position: sticky;
  top: 0;
  background-color: #8b5cf6;
  padding: 0.75rem 0;
}

#leaderboardList li {
  margin-bottom: 0.25rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #eee;
  overflow-wrap: break-word; 
  word-wrap: break-word;
  
}

.restart-btn {
  background-color: rgba(139, 92, 246, 1);
  border-radius: 15px;
  padding: 1rem 2.5rem;
  color: white;
  font-size: clamp(1rem, 2vw, 1.1rem);
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  border: none;
  margin-top: 1rem;
}

.restart-btn:hover {
  transform: translateY(-3px);
  transform: scale(1.25);
}

.question-nb span::before,
.current-score span::before {
  content: "\00A0";
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .quiz {
    gap: 1rem;
  }

  .answers {
    grid-template-columns: 1fr;
  }

  .question,
  .answer {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  body {
    padding: 0.5rem;
  }

  .container {
    padding: 1rem;
  }

  .quiz-info,
  .question,
  .answer,
  .correct-answer {
    padding: 0.8rem;
  }

  .next-question-btn {
    padding: 0.8rem 1.8rem;
  }
}
